.account-image
  width: 15vw
  height: 15vw
  //border-radius: 50%
  object-fit: cover

.account-info-panel
  display: flex
  justify-content: space-between
  flex-direction: row-reverse

.update-acc-img-sub
  display: block
  margin-top: 1vh

.user-name
  margin-bottom: 3vh

.account-email-input
  width: 150%

.your-projects-list

.your-project
  background-color: #F0F1F5
  padding: 1vw
  margin: 1vh 0
  display: flex
  justify-content: space-between

.proj-don-container
  display: flex
  justify-content: space-between
  margin-top: 10vh

.proj-don-container > div
  width: 45%