.progress-parent
  margin-top: 2vh
  width: 100%
  height: 4vh
  border: 1px solid #E5E7E9

.progress
  background-color: #58D68D
  height: 100%
  padding-top: 0.5vh
  padding-right: 1vh
  box-sizing: border-box
  text-align: right
  max-width: 100%

.donate-benefits-ul
  min-height: 10vh

.funding-status
  display: flex
  justify-content: space-between
  padding: 5vh 0

.your-credits
  //background-color: red

.progress-container
  min-width: 50vw
  //background-color: blue

.overlay
  background-color: rgba(0, 0, 0, 0.3)
  position: absolute
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  z-index: 50

.modal
  position: absolute
  width: 40vw
  height: 40vh
  left: 30vw
  top: 25vh
  background-color: #F0F1F5
  z-index: 50
  padding: 2vw
  box-sizing: border-box
  //box-shadow: 0 0px 5px 0px rgba(0,0,0,0.3)