.projects-list-container

.projects-list-card
  width: 30%
  margin: 0 1vw 5vh 1vw
  display: inline-block
  //background-color: #F0F1F5

.project-list-img
  width: 100%
  margin-bottom: 3vh

.project-list-text
  text-align: justify
  margin-bottom: 2vh
  height: 15vh
  text-overflow: ellipsis
  overflow: hidden

.project-list-title
  height: 7vh
  overflow: hidden
  text-overflow: ellipsis
