@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Open+Sans);nav {
  display: flex;
  width: 100%;
  padding: 1vw;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
}

@media screen and (max-width: 1000px) {
  nav {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  nav {
    width: 50%;
    height: 100vh;
    padding-top: 2vh;
    display: none;
  }
}

.logo {
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1000px) {
  .logo {
    display: block;
  }
}

.links {
  font-variant-caps: small-caps;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  padding-bottom: 0.5vh;
}

@media screen and (max-width: 1000px) {
  .links {
    display: block;
    width: 100%;
    margin-top: 2vh;
  }
}

@media screen and (max-width: 580px) {
  .links li,
  links li a {
    text-align: left;
    padding: 1vh 0 1vh 3vw;
  }
}

.user-name-nav {
  font-variant-caps: all-small-caps;
  font-weight: bolder;
}

.menu-icon {
  background-image: url(/images/menu.svg?51f8f52c0d18c6d30b3c6e40b0d3e4a3);
  background-color: white;
  width: 5vw;
  height: 5vw;
  margin: 4vw 2vw;
  z-index: 50;
  display: none;
}

@media screen and (max-width: 580px) {
  .menu-icon {
    display: block;
  }
}

.logo-out-of-nav {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 2vh 0;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  z-index: -50;
  display: none;
}

@media screen and (max-width: 580px) {
  .logo-out-of-nav {
    display: block;
  }
}

.section {
  border-radius: 1px;
  margin: 15vh 0;
  padding: 1vh 1vw 5vh 1vw;
}

.featured-container {
  display: flex;
  justify-content: space-between;
  margin: 5vh 0;
  border-left: 1px solid #B3B6B7;
  padding-left: 1vw;
}

.featured-img {
  max-height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 580px) {
  .featured-img {
    width: 100%;
  }
}

.featured-text {
  width: 90%;
  max-height: 31vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 580px) {
  .featured-text {
    width: 95%;
    text-align: justify;
  }
}

.featured-rm {
  margin: 1vh 0;
  padding: 0.5vw 1vw;
  font-weight: bold;
  background-color: #212F3C;
  border-radius: 0.2vw;
  color: #F0F1F5;
}

@media screen and (max-width: 580px) {
  .featured-rm {
    padding: 2vw 3vw;
    border: none;
  }
}

.featured-title {
  margin-bottom: 1vh;
}

.projects-list-card {
  width: 30%;
  margin: 0 1vw 5vh 1vw;
  display: inline-block;
}

@media screen and (max-width: 700px) {
  .projects-list-card {
    width: 47%;
  }
}

@media screen and (max-width: 500px) {
  .projects-list-card {
    width: 98%;
  }
}

.project-list-img {
  width: 100%;
  margin-bottom: 3vh;
}

.project-list-text {
  text-align: justify;
  margin-bottom: 2vh;
  height: 15vh;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project-list-title {
  height: 7vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.percent-funded {
  color: #58D68D;
  margin-bottom: 1vh;
}

.categories-container {
  padding: 1vw;
  display: flex;
  padding-right: 2.5vw;
  margin-bottom: 5vh;
  justify-content: space-between;
}

.project-category-button {
  background-color: #212F3C;
  color: #F0F1F5;
  border: none;
  padding: 0.5vw 4vw;
  text-transform: capitalize;
}

@media screen and (max-width: 500px) {
  .categories-container a button {
    padding: 3vh 4vw;
  }
}

.projects-title-index {
  margin-left: 1vw;
}

.cat-small {
  font-variant-caps: all-small-caps;
}

.create-project-input {
  width: 50%;
  display: block;
  padding: 1vw;
  box-sizing: border-box;
  margin: 1vh 0 2vh 0;
  border: 1px solid #E5E7E9;
}

@media screen and (max-width: 1000px) {
  .create-project-input {
    width: 100%;
  }
}

.create-project-textarea {
  width: 50%;
  display: block;
  padding: 1vw;
  box-sizing: border-box;
  border: 1px solid #E5E7E9;
  margin: 1vh 0 2vh 0;
}

@media screen and (max-width: 1000px) {
  .create-project-textarea {
    width: 100%;
  }
}

.create-project-h1 {
  margin-bottom: 2vh;
}

.create-project-submit {
  padding: 0.7vw 2vw;
  background-color: #212F3C;
  color: #F0F1F5;
  border-radius: 1px;
  border: none;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .create-project-submit {
    width: 100%;
  }
}

.create-project-select {
  height: 7vh;
  background-color: white;
}

.form-control {
  width: 20%;
  margin: 0 auto;
}

.loginform {
  width: 40%;
  padding: 2vw;
  box-sizing: border-box;
  margin: 10vh auto;
  background-color: #F0F1F5;
}

.account-image {
  width: 15vw;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.account-info-panel {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .account-info-panel {
    display: block;
  }
}

.update-acc-img-sub {
  display: block;
  margin-top: 1vh;
}

.user-name {
  margin-bottom: 3vh;
}

.account-email-input {
  width: 150%;
}

@media screen and (max-width: 600px) {
  .account-email-input {
    width: 100%;
  }
}

.your-projects-list {
  display: block;
  width: 100%;
}

.your-project {
  background-color: #F0F1F5;
  padding: 1vw;
  margin: 1vh 0;
  display: flex;
  justify-content: space-between;
}

.proj-don-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

@media screen and (max-width: 600px) {
  .proj-don-container {
    display: block;
  }
}

.proj-don-container > div {
  width: 45%;
}

@media screen and (max-width: 600px) {
  .proj-don-container > div {
    width: 100%;
    margin-bottom: 5vh;
  }
}

@media screen and (max-width: 600px) {
  .account-info-image-container {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .account-info-text-container {
    margin-top: 5vh;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .account-info-image-container .account-image {
    border-radius: 50%;
    margin-left: 24vw;
    width: 50vw;
    height: 50vw;
  }
}

.purchase-credits-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.purchase-credits-option-container {
  margin: 3vh 0;
  width: 20%;
  padding: 2vw;
  border-left: 1px solid #E5E7E9;
  border-right: 1px solid #E5E7E9;
}

.save-amount {
  color: #58D68D;
  text-align: right;
}

.buy-title {
  margin-bottom: 2vh;
}

.buy-price {
  text-align: right;
}

.buy-credits {
  width: 100%;
  background-color: #212F3C;
  color: #F0F1F5;
  border: none;
  margin-top: 3vh;
  padding: 0.5vw 2vw;
}

.buy-credits {
  font-size: 1em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-form label {
  margin-bottom: 1vh;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 3vh;
  padding: 1vw;
}

.contact-form input[type=submit] {
  width: 10%;
  border: none;
  padding: 0.5vw 3vw 0.6vw 3vw;
  background-color: #212F3C;
  color: #F0F1F5;
}

.sent-confirmation {
  color: #58D68D;
  margin-bottom: 3vh;
}

.donate-container h3 {
  margin: 5vh 0 2vh 0;
}

.right {
  max-width: 15vw;
}

.donate-submit {
  width: 100%;
  padding: 1vw;
  border: none;
  background-color: #212F3C;
  color: #F0F1F5;
  font-size: 1em;
  margin-bottom: 1vh;
}

.detail-content {
  overflow: visible;
  max-height: none;
}

.comment-ta {
  margin: 2vh 0;
  padding: 1vw;
  height: 10vh;
  box-sizing: border-box;
  width: 90%;
  border-color: #F0F1F5;
}

.comment-submit {
  border: 0;
  background-color: #212F3C;
  color: #F0F1F5;
  padding: 1vw;
  height: 10vh;
  box-sizing: border-box;
  width: 10%;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-username {
  background-color: #212F3C;
  color: #F0F1F5;
  font-variant-caps: all-small-caps;
  padding: 0.2vh 1vh 0.4vh 1vh;
}

.comment-line {
  margin: 1vh 0;
  word-wrap: break-spaces;
}

@media screen and (max-width: 600px) {
  .featured-container {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .right {
    width: 40%;
    max-width: none;
  }
}

@media screen and (max-width: 570px) {
  .right {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .donate-container {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .account-image {
    width: 100%;
    min-height: 20vh;
  }
}

.featured-content {
  text-align: justify;
}

.progress-parent {
  margin-top: 2vh;
  width: 100%;
  height: 4vh;
  border: 1px solid #E5E7E9;
}

.progress {
  background-color: #58D68D;
  height: 100%;
  padding-top: 0.5vh;
  padding-right: 1vh;
  box-sizing: border-box;
  text-align: right;
  max-width: 100%;
}

.donate-benefits-ul {
  min-height: 10vh;
}

.funding-status {
  display: flex;
  justify-content: space-between;
  padding: 5vh 0;
}

.progress-container {
  min-width: 50vw;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
}

.modal {
  position: absolute;
  width: 40vw;
  height: 40vh;
  left: 30vw;
  top: 25vh;
  background-color: #F0F1F5;
  z-index: 50;
  padding: 2vw;
  box-sizing: border-box;
}

.news-detail-image {
  width: 100%;
  max-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-container {
  display: flex;
  justify-content: space-between;
  padding-top: 3vh;
}

.news-content {
  width: 65%;
}

.news-title {
  margin-bottom: 2vh;
}

.news-comments {
  width: 30%;
}

.news-comment-ta {
  width: 80%;
}

.news-comment-submit {
  width: 20%;
}

.datetime-news-comment {
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
}

.news-comment-username {
  font-size: 1.2em;
}

.news-comment-line {
  background-color: #F0F1F5;
  margin: 0 0 2vh 0;
  padding: 1vw;
  font-size: 0.7em;
}

.edit-container {
  width: 100%;
}

.featured-price-calc {
  width: 30%;
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid #F0F1F5;
}

.featured-price-sub {
  text-align: center;
  width: 48%;
}

.feat-price {
  color: #58D68D;
  padding: 1vw 0 0 0;
  font-size: 2em;
}

ul.pagination {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 5vh auto;
}

.loginform {
  background-color: #FBFCFC;
}

.loginform input,
.form-group.row > .col-md-6 > input {
  padding: 1vw;
  width: 100%;
  margin: 1vh 0 3vh 0;
  color: #212F3C;
  box-sizing: border-box;
}

.form-check-input {
  width: auto !important;
}

.offset-md-4 > .btn-primary {
  padding: 1vh 4vh;
  background-color: #212F3C;
  color: #F0F1F5;
  border: none;
  font-size: 0.9em;
}

.navbar-nav.ml-auto > a {
  margin: 1vh 3vw;
}

.card-body form {
  width: 40%;
  margin: 10vh auto;
  padding: 2vw;
  box-sizing: border-box;
}

.admin-section {
  width: 100%;
  border: 1px solid #F0F1F5;
  padding: 1vw 2vw;
}

.admin-cat-item {
  display: block;
  padding: 1vh 1vw;
  background-color: #212F3C;
  color: #F0F1F5;
  margin: 1vh 0;
  width: 20%;
}

@media screen and (max-width: 600px) {
  .admin-cat-item {
    width: 50%;
  }
}

.admin-cat-item-span {
  color: red;
  margin-right: 0.5vw;
}

* {
  color: #212F3C;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FBFCFC;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  border-bottom: 1px solid #B3B6B7;
  display: inline-block;
  padding: 0.7vh 0;
}

.bread {
  font-variant-caps: all-small-caps;
  font-weight: bold;
  margin-bottom: 5vh;
  margin-left: 1vw;
}

.general-footer {
  display: flex;
  width: 100%;
  padding: 1vw 20vw;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 1px;
  font-variant-caps: all-small-caps;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px) {
  .general-footer {
    padding: 1vw 2vw;
    display: block;
  }
}

.general-footer * {
  display: block;
}

