@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Open+Sans);nav {
  display: flex;
  width: 100%;
  padding: 1vw;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
}

.logo {
  font-family: "Open Sans", sans-serif;
}

.links {
  font-variant-caps: small-caps;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  padding-bottom: 0.5vh;
}

.section {
  border-radius: 1px;
  margin: 15vh 0;
  padding: 1vh 1vw 5vh 1vw;
}

.featured-container {
  display: flex;
  justify-content: space-between;
  margin: 5vh 0;
  border-left: 1px solid #B3B6B7;
  padding-left: 1vw;
}

.featured-img {
  max-height: 35vh;
}

.featured-text {
  width: 90%;
}

.featured-rm {
  margin: 1vh 0;
  padding: 0.5vw 1vw;
  font-weight: bold;
  background-color: #212F3C;
  border-radius: 0.2vw;
  color: #F0F1F5;
}

.featured-title {
  margin-bottom: 1vh;
}

.projects-list-card {
  width: 30%;
  margin: 0 1vw 5vh 1vw;
  display: inline-block;
}

.project-list-img {
  width: 100%;
  margin-bottom: 3vh;
}

.project-list-text {
  text-align: justify;
  margin-bottom: 2vh;
  height: 15vh;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project-list-title {
  height: 7vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.create-project-input {
  width: 50%;
  display: block;
  padding: 1vw;
  box-sizing: border-box;
  margin: 1vh 0 2vh 0;
  border: 1px solid #E5E7E9;
}

.create-project-textarea {
  width: 50%;
  display: block;
  padding: 1vw;
  box-sizing: border-box;
  border: 1px solid #E5E7E9;
  margin: 1vh 0 2vh 0;
}

.create-project-h1 {
  margin-bottom: 2vh;
}

.create-project-submit {
  padding: 0.7vw 2vw;
  background-color: #212F3C;
  color: #F0F1F5;
  border-radius: 1px;
  border: none;
  text-transform: uppercase;
}

.form-control {
  width: 30%;
  margin: 0 auto;
}

.loginform {
  width: 50%;
  margin: 10vh auto;
  background-color: #F0F1F5;
}

.account-image {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.purchase-credits-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.purchase-credits-option-container {
  margin: 3vh 0;
}

.save-amount {
  color: #58D68D;
  text-align: right;
}

.buy-title {
  margin-bottom: 2vh;
}

.buy-price {
  text-align: right;
}

.buy-credits {
  width: 100%;
  background-color: #212F3C;
  color: #F0F1F5;
  border: none;
  margin-top: 3vh;
  padding: 0.5vw 2vw;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-form label {
  margin-bottom: 1vh;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 3vh;
  padding: 1vw;
}

.contact-form input[type=submit] {
  width: 10%;
  border: none;
  padding: 0.5vw 3vw 0.6vw 3vw;
  background-color: #212F3C;
  color: #F0F1F5;
}

.sent-confirmation {
  color: #58D68D;
  margin-bottom: 3vh;
}

* {
  color: #212F3C;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FBFCFC;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  border-bottom: 1px solid #B3B6B7;
  display: inline-block;
  padding: 0.7vh 0;
}

.bread {
  font-variant-caps: all-small-caps;
  font-weight: bold;
  margin-bottom: 5vh;
  margin-left: 1vw;
}

.general-footer {
  display: flex;
  width: 100%;
  padding: 1vw;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
}

