nav
  //background-color: blue
  display: flex
  width: 100%
  padding: 1vw
  align-items: center
  justify-content: space-around
  background-color: white
  border-radius: 1px
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3)
  
  // Fixed
  position: fixed
  top: 0

.logo
  //background-image: url('images/logo.svg')
  font-family: 'Open Sans', sans-serif

.links
  font-variant-caps: small-caps
  font-size: 1.2em
  display: flex
  justify-content: space-around
  width: 50%
  align-items: center
  padding-bottom: 0.5vh

.logoutthingy
